.container {
  max-width: 600px;
  margin: auto;
  text-align: left;
  font-family: Arial, sans-serif;
  background-color: forestgreen;
  color: antiquewhite;
  padding: 2rem;


  input {
    padding: 10px;
    margin-bottom: 10px;
    width: 70%;
  }

  button {
    padding: 10px;
    margin-left: 5px;
  }

  .error {
    color: red;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top: 5px solid rgb(15, 14, 14);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
