<h3>Todos List</h3>

<!-- @if is a structural directive -->
@if (!todoItems().length) {
  <p>Loading...</p>
}

<form>
  <label>Filter Todos</label>
  <!-- if we ever use ngModel we MUST import the FormsModule -->
  <input
  name="searchTerm"
  
  [(ngModel)]="searchTerm"
  placeholder="Search todos..."
  />
</form>

<ul class="todos">
  <!-- @for is a structural directive -->
  @for (todo of todoItems() | filterTodos : searchTerm(); track todo.id) {
  <app-todo-item (todoToggled)="updateTodoItem($event)" [todo]="todo" />
  }
</ul>
